<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <button mdbBtn color="primary" block="true" class="waves-light mt-1 mb-1" type="button" (click)="test.toggle()" mdbWavesEffect>
        Фільтри
      </button>

      <div class="" mdbCollapse #test="bs-collapse">
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
      </div>
    </div>
    <div class="col-lg-9">
      <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg')"
        class="card-image mb-3 mx-2">
        <div class="text-white  align-items-center rgba-indigo-strong py-5 px-4">
          <div>
            <h5 class="orange-text">
              <mdb-icon fas icon="desktop"></mdb-icon>
              Software
            </h5>
            <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio
              vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui,
              dolorum!.
            </p>
            <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>
              <mdb-icon far icon="clone" class="left"></mdb-icon>
              View project
            </a>
          </div>
        </div>
      </mdb-card>
    </div>
  </div>
</div>
